<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <h1>{{ app_name }}</h1>
    {% block body %}{% endblock %}
</body>
</html>