{% extends 'base.html.twig' %}

{% set body_class = 'auth' %}
{% block body %}
    <div id="wrapper" class="card">
        <div id="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Just one more step and you’re all set!</h1>
                    <div class="row">
                      <div class="col-md-12">
                      {{ form_start(form) }}
                        <div class="form-group-api">
                          {% for label, flashes in app.session.flashbag.all %}
                              {% for flash in flashes %}
                                  <div class="t2 alert alert-{{ label }}">
                                      {{ flash }}
                                  </div>
                              {% endfor %}
                          {% endfor %}
                          {{ form_row(form.api_key) }}
                        </div>
                        {{ form_row(form.sender) }}
                        {{ form_row(form.contactName) }}
                        {{ form_row(form.contactNumber) }}
                        {{ form_row(form.country) }}
                       {{ form_end(form) }}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
