{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}



    {{ form(form, ({'attr':{'label':'test2'}})) }}



    {#<div id="wrapper">#}
        {#<div id="container">#}
            {#<h2>Something went wrong. Please try again</h2>#}
            {#<div class="row alert alert-danger">#}
                {#<div class="col-md-12">#}
                    {#<p style="margin-bottom: 0px !important;">{{ 'Not authenticated, Please install the app through the seoshop store.'|trans }}</p>#}
                    {#{% for label, flashes in app.session.flashbag.all %}#}
                        {#{% for flash in flashes %}#}
                            {#<div class="alert alert-{{ label }}">#}
                                {#{{ flash }}#}
                            {#</div>#}
                        {#{% endfor %}#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}
