{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Install</h2>
            <div class="row">
                <div class="col-md-12">
                    <p>Ingelogde gebruikers zullen meteen doorgestuurd worden. </p>
                    <small><a href="#">Registreren</a> of <a href="#"> Verdergaan met messagebird account </a></small>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 