{% extends 'base.html.twig' %}
{% form_theme userForm 'bootstrap_3_layout.html.twig' %}
{% form_theme bulkForm 'bootstrap_3_layout.html.twig' %}

    {% block styles %}
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.11/filtering/row-based/range_dates.js">
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    {% endblock %}
    {% set body_class = 'settings' %}
    {% block body %}

        <!-- New -->
        <div class="row">
            <div class="col-md-12">
                <div class="credits">
                    <div class="available">
                        <div class="credits-card"></div>
                        <h1>{{ balance.amount }}</h1>
                        <h2>Credits Available</h2>
                    </div>
                    <div class="currency">
                        <div class="credits-card"></div>
                        <h1>{{ balance.type }}</h1>
                        <h2>Credit Currency</h2>
                    </div>
                    <div class="type">
                        <div class="credits-card"></div>
                        <h1>{{ balance.payment }}</h1>
                        <h2>Credit Type</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="menu list-group">
                    <div class="bs-example bs-example-tabs" data-example-id="togglable-menu">
                        <ul id="myMenu" role="tablist" role="tablist">
                            <a href="#orders" id="orders-tab" role="tab" data-toggle="tab" aria-controls="orders" aria-expanded="true">
                                <li class="item list-group-item active" id="menu-item">
                                    Order Updates
                                </li>
                            </a>
                            <a href="#bulk" id="bulk-tab" role="tab" data-toggle="tab" aria-controls="bulk" aria-expanded="true">
                                <li class="itemTwo list-group-item" id="menu-item">
                                    Bulk Messages
                                </li>
                            </a>
                            <a href="#settings" id="settings-tab" role="tab" data-toggle="tab" aria-controls="settings" aria-expanded="true">
                                <li class="itemThree list-group-item" id="menu-item">
                                    Settings
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="tab-content orders" id="myMenuContent">
                    <div role="tabpanel" class="tab-pane fade active in" id="orders" aria-labelledby="orders-tab">
                        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                {% for key,a in actionsForm %}
                                    {% form_theme a 'bootstrap_3_layout.html.twig' %}
                                    {% if key == 0 %}
                                        <li role="presentation" class="active">
                                            <a href="#create" id="create-tab" role="tab" data-toggle="tab" aria-controls="create" aria-expanded="true">Order Created</a>
                                        </li>
                                    {% elseif key == 1 %}
                                        <li role="presentation" class="payed">
                                            <a href="#payed" id="payed-tab" role="tab" data-toggle="tab" aria-controls="payed" aria-expanded="true">Order Paid</a>
                                        </li>
                                    {% elseif key == 2 %}
                                        <li role="presentation">
                                            <a href="#shipped" id="shipped-tab" role="tab" data-toggle="tab" aria-controls="shipped" aria-expanded="true">Order Shipped</a>
                                        </li>
                                    {% elseif key == 4 %}
                                        <li role="presentation">
                                            <a href="#cancelled" id="cancelled-tab" role="tab" data-toggle="tab" aria-controls="cancelled" aria-expanded="true">Order Cancelled</a>
                                        </li>
                                    {% elseif key == 5 %}
                                        <li role="presentation" class="stock">
                                            <a href="#stock" id="stock-tab" role="tab" data-toggle="tab" aria-controls="stock" aria-expanded="true">Product(s) Out Of Stock</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="settings-form tab-pane fade active in" id="create" aria-labelledby="create-tab">
                                    <h1>Order Created</h1>
                                    {% for key,a in actionsForm %}
                                        {% if key == 0 %}
                                            {{ form_start(a, { 'action': path('seoshop_ajax_shop_action') }) }}
                                            <span class="t3">Send message to:</span>{{ form_row(a.toOwner) }}{{ form_row(a.toClient) }}
                                            {{ form_row(a.message) }}
                                            <div class="submit-w-loader">
                                                {{ form_row(a.actionSubmit) }}
                                                <div class="loading">
                                                    Save
                                                </div>
                                                <div class="done">
                                                    <div class="white-check"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            {{ form_end(a) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="settings-form tab-pane fade" id="payed" aria-labelledby="payed-tab">
                                    <h1>Order Paid</h1>
                                    {% for key,a in actionsForm %}
                                        {% if key == 1 %}
                                            {{ form_start(a, { 'action': path('seoshop_ajax_shop_action') }) }}
                                            <span class="t3">Send message to:</span>{{ form_row(a.toOwner) }}{{ form_row(a.toClient) }}
                                            {{ form_row(a.message) }}
                                            <div class="submit-w-loader">
                                                {{ form_row(a.actionSubmit) }}
                                                <div class="loading">
                                                    Save
                                                </div>
                                                <div class="done">
                                                    <div class="white-check"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            {{ form_end(a) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="tab-pane fade" id="shipped" aria-labelledby="shipped-tab">
                                    <div class="settings-form">
                                        <h1>Order Shipped</h1>
                                        {% for key,a in actionsForm %}
                                            {% if key == 2 %}
                                                {{ form_start(a, { 'action': path('seoshop_ajax_shop_action') }) }}
                                                <span class="t3">Send message to:</span>{{ form_row(a.toOwner) }}{{ form_row(a.toClient) }}
                                                {{ form_row(a.message) }}
                                                <div class="submit-w-loader">
                                                    {{ form_row(a.actionSubmit) }}
                                                    <div class="loading">
                                                        Save
                                                    </div>
                                                    <div class="done">
                                                        <div class="white-check"></div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                {{ form_end(a) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <hr>
                                    <div class="settings-form">
                                        <h1>Order Shipped without Track and Trace code</h1>
                                        {% for key,a in actionsForm %}
                                            {% if key == 3 %}
                                                {{ form_start(a, { 'action': path('seoshop_ajax_shop_action') }) }}
                                                <span class="t3">Send message to:</span>{{ form_row(a.toOwner) }}{{ form_row(a.toClient) }}
                                                {{ form_row(a.message) }}
                                                <div class="submit-w-loader">
                                                    {{ form_row(a.actionSubmit) }}
                                                    <div class="loading">
                                                        Save
                                                    </div>
                                                    <div class="done">
                                                        <div class="white-check"></div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                {{ form_end(a) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="settings-form tab-pane fade" id="cancelled" aria-labelledby="cancelled-tab">
                                    <h1>Order Cancelled</h1>
                                    {% for key,a in actionsForm %}
                                        {% if key == 4 %}
                                            {{ form_start(a, { 'action': path('seoshop_ajax_shop_action') }) }}
                                            <span class="t3">Send message to:</span>{{ form_row(a.toOwner) }}{{ form_row(a.toClient) }}
                                            {{ form_row(a.message) }}
                                            <div class="submit-w-loader">
                                                {{ form_row(a.actionSubmit) }}
                                                <div class="loading">
                                                    Save
                                                </div>
                                                <div class="done">
                                                    <div class="white-check"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            {{ form_end(a) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="settings-form tab-pane fade" id="stock" aria-labelledby="stock-tab">
                                    <h1>Product(s) Out Of Stock</h1>
                                    {% for key,a in actionsForm %}
                                        {% if key == 5 %}
                                            {{ form_start(a, { 'action': path('seoshop_ajax_shop_action') }) }}
                                            <span class="t3">Send message to:</span>{{ form_row(a.toOwner) }}
                                            {{ form_row(a.message) }}
                                            <div class="submit-w-loader">
                                                {{ form_row(a.actionSubmit) }}
                                                <div class="loading">
                                                    Save
                                                </div>
                                                <div class="done">
                                                    <div class="white-check"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            {{ form_end(a) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="bulk" aria-labelledby="bulk-tab">
                        <h1>Send a message to every customer who has placed an order within a given period.</h1>
                        {{ form_start(bulkForm, {'attr': {'id': 'bulk_message'}}) }}
                        <span class="t3">Your Message</span>
                        {{ form_row(bulkForm.message) }}
                        <div class="form-group-date">
                            <span class="t3">Order from date</span>
                            {{ form_row(bulkForm.orderFromDate, {'attr': {'class': 'bulk_fromDate'}}) }}
                        </div>
                        <div class="form-group-date dateTo">
                            <span class="t3">Order to date</span>
                            {{ form_row(bulkForm.orderToDate, {'attr': {'class': 'bulk_toDate'}}) }}
                        </div>
                        {{ form_row(bulkForm.submit, {'label':'Check Orders'}) }}
                        <div id="bulkholder">
                            <div class="panel panel-default">
                                <table class="table bulk-list">
                                    <thead class="orders-header">
                                    <tr class="filters">
                                        <th>Order Number</th>
                                        <th>Customer Name</th>
                                        <th>Phone number</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody id="bulk-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button
                                onclick="confirmed()"
                                type="submit"
                                id="bulkConfirm"
                                name="bulkConfirm"
                                class="btn btn-success b3"
                                value="Confirm and send in bulk"> Confirm and send
                        </button>
                        {{ form_end(bulkForm) }}
                        <div class="row bulkflash">
                            {% for type, flashMessages in app.session.flashbag.get('error') %}
                                {% for flashMessage in flashMessages %}
                                    <div class="alert alert-{{ type }}">
                                        {{ flashMessage|trans }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="settings" aria-labelledby="settings-tab">
                        <h1>Settings</h1>
                        {{ form_start(userForm, {'attr': {'id': 'messagebird_account'}}) }}
                        <div class="form-group-settings">
            <span class="t3">
              Displayed Sender
            </span>
                            <span class="t4">Maximum 11 characters, alphanumeric (A-z, 1-9)</span>
                            {{ form_row(userForm.sender) }}
                        </div>
                        <div class="form-group-settings">
            <span class="t3">
              Contact Name
            </span>
                            {{ form_row(userForm.contactName) }}
                        </div>
                        <div class="form-group-settings">
            <span class="t3">
              MessageBird API Key
            </span>
                            {{ form_row(userForm.api_key) }}
                        </div>
                        <div class="form-group-settings">
            <span class="t3">
              Contact Number
            </span>
                            {{ form_row(userForm.contactNumber) }}
                        </div>
                        <div class="form-group-settings">
            <span class="t3">
              Country
            </span>
                            {{ form_row(userForm.country) }}
                        </div>
                        {{ form_end(userForm) }}<br>
                    </div>
                </div>

                <div id="wrapper" class="card">
                    <div id='container'>
                        <h1>Personalize</h1>
                        <div class="t2">Customize your message content with the following variables:</div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="t2 red">
                                    #:fname:
                                </td>
                                <td class="t2">
                                    First Customer Name
                                </td>
                            </tr>
                            <tr>
                                <td class="t2 red">
                                    #:lname:
                                </td>
                                <td class="t2">
                                    Last Customer Name
                                </td>
                            </tr>
                            <tr>
                                <td class="t2 red">
                                    #:tnt:
                                </td>
                                <td class="t2">
                                    Track & Trace code
                                    <span>Only for 'Order Shipped'</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="t2 red">
                                    #:onmr:
                                </td>
                                <td class="t2">
                                    Order Number
                                </td>
                            </tr>
                            <tr>
                                <td class="t2 red">
                                    #:cname:
                                </td>
                                <td class="t2">
                                    Shop Contact Name
                                </td>
                            </tr>
                            <tr>
                                <td class="t2 red">
                                    #:cmail:
                                </td>
                                <td class="t2">
                                    Shop Contact Email
                                </td>
                            </tr>
                            <tr>
                                <td class="t2 red">
                                    #:artc:
                                </td>
                                <td class="t2">
                                    Article Numbers
                                    <span>Only for 'Product Out of Stock'</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function confirmed() {
                var confirmBox = confirm("Are you sure you want to send the bulk messages?");
                var from = $("#bulk_message_orderFromDate").val();
                var to = $("#bulk_message_orderToDate").val();
                var message = $("#bulk_message_message").val();
                var shopid = $("#messagebird_account_seoshopShop").val();
                var bulkMessage = {
                    from: from,
                    to: to,
                    message: message,
                    shopId: shopid
                };
                if (confirmBox) {
                    // TODO: Make this dynamic
                    $.post('{{ path("seoshop_bulk_create") }}',
                            bulkMessage,
                            function (data, status) {
                                if (status == 'success') {
                                    $(".bulkflash").append('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><span>Messages send succesfully.</span></div>');
                                } else {
                                    $(".bulkflash").append('<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a><span>Something went wrong, please try again later.</span></div>');
                                }
                            });
                }
                return false;
            }
        </script>
        </div>
    {% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.11/filtering/row-based/range_dates.js"></script>
{% endblock %}
