{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-
combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js">
    </script>
{% endblock %}
{% block body %}
    <div class="conteainer">
        <div class="row">
            <div class="col-md-12">
                <h1>Seoshop Messagebird Actions collection</h1>
                <br>
                <div class="panel">
                    <form accept-charset="UTF-8" action="" method="POST">
                        <textarea class="form-control" id="text" name="text" placeholder="Type in your message" rows="5"></textarea>
                        <h6 class="pull-right" id="count_message"></h6>
                        <br>
                        <button class="btn btn-info" type="submit">Post New Message</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var text_max = 200;
        $('#count_message').html(text_max + ' remaining');

        $('#text').keyup(function() {
            var text_length = $('#text').val().length;
            var text_remaining = text_max - text_length;

            $('#count_message').html(text_remaining + ' remaining');
        });
    </script>
{% endblock %}
