{% extends 'base.html.twig' %}

{% set body_class = 'missingApp' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Uninstalling Seoshop app</h1>
            <div class="row">
                <div class="col-md-12">
                    <span class="t1">
                        We have succesfully uninstalled this app.
                    </span>
                    <span class="t1">
                        You can manually visit the following link to re-install the MessageBird app. Replace the part in brackets, [], with your own SEOshop customer number.
                        <br>
                        <br>
                        <small>
                            <a href="https://api.webshopapp.com/{{ language }}/apps/install?api_key={{ api_key }}&shop_id=[]">
                                https://api.webshopapp.com/{{ language }}/apps/install?api_key={{ api_key }}&shop_id=<strong>[]</strong>
                            </a>
                        </small>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
