{% extends 'base.html.twig' %}

{% set body_class = 'welcome' %}
{% block body %}
<div id="wrapper" class="card">
  <div id="container">
    <h1>You're almost there!</h1>
    <div class="row">
      <div class="col-md-12">
        <span class="t1">Let’s set up your shop!</span>
        <div class="row">
          <div class="col-md-12">
            <a href="{{ path('seoshop_authenticate_key') }}"><button type="button" name="button" class="b2">Continue</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
