{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Here you go, now go <a href="{{path('seoshop_settings')}}">settings</a> </h2>
            <div class="row">
                <div class="col-md-12">
                    {{dump(data)}}
                        <small>
                            <a href="https://api.webshopapp.com/nl/apps/install?api_key=f88cc02ae680e86099f9e9fd9b619624&shop_id=[seoshop-klantnummer]">
                                https://api.webshopapp.com/nl/apps/install?api_key=f88cc02ae680e86099f9e9fd9b619624&shop_id=<strong>[seoshop-klantnummer]</strong>
                            </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}