{% extends 'base.html.twig' %}
{% form_theme userForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Webshop <strong>{{ app.session.get('seoshop_id') }}</strong></h2>
            <div class="row">
                <div class="col-md-12">
                    {# Flash messages #}
                    <div style="color: #66dd66">
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div>
                        <h3 style="margin-bottom: 20px !important;">
                            User details <br>
                        </h3>
                        <span style="font-size: 1.2em">
                            Credit payment: <strong>{{ balance.payment }} </strong><br>
                            Credit type: <strong>{{ balance.type }}</strong> <br>
                            Credit amount: <strong>{{ balance.amount }}</strong><br>
                                                <hr style="border: 2em solid #00000;margin-top:20px;margin-bottom:20px;">

                            {{ form_start(userForm) }}
                                <span>{{ form_row(userForm.sender) }}</span>
                                <span>{{ form_row(userForm.contactName) }}</span>

                            {{ form_end(userForm) }}<br>
                        </span>
                    </div>
                    <hr style="border: 2em solid #00000;margin-top:20px;margin-bottom: 100px;">

                    {# Action details #}
                    <div>
                        <h4>Acties aanpassen.</h4>
                            <div class="actions-block">
                                {% for key,a in actionsForm %}
                                    {% if key == 0 %}
                                        <h2 style="text-align: left;font-weight: lighter;">Order create action</h2>
                                    {% elseif key == 1 %}
                                        <h2 style="text-align: left;font-weight: lighter;">Order payed action</h2>
                                    {% elseif key == 2 %}
                                        <h2 style="text-align: left;font-weight: lighter;">Order shipped action</h2>
                                    {% elseif key == 3 %}
                                        <h2 style="text-align: left;font-weight: lighter;">Order shipped action no TNT</h2>
                                    {% elseif key == 4 %}
                                        <h2 style="text-align: left;font-weight: lighter;">Order cancelled action</h2>
                                    {% elseif key == 5 %}
                                        <h2 style="text-align: left;font-weight: lighter;">product out of stock action</h2>
                                    {% endif %}
                                    <br>
                                    {{ form_row(a) }}
                                {% endfor %}
                            </div>
                    </div>
                    {# End action details block #}

                    <span>
                        <h3>Bulk Messages</h3>
                        <p>Op deze pagina kan de gebruiker zijn/haar bulk messages versturen</p>
                    </span>

                    <p style="display: inline;">
                        {{ form_start(bulkForm) }}
                        {{ form_row(bulkForm.orderToDate, {'attr': {'width': '20px', 'rows':'10'}}) }}
                            {{ form_row(bulkForm.orderFromDate) }}
                            <br>
                            {{ form_row(bulkForm.message, {'attr': {'cols': '115', 'rows':'10'}}) }}
                            {{ form_row(bulkForm.submit) }}
                        {{ form_end(bulkForm) }}


                    </p>
            </div>
        </div>
    </div>
{% endblock %}