{% extends 'base.html.twig' %}

{% set body_class = 'missingApp' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Missing MessageBird app installation</h1>
            <div class="row">
                <div class="col-md-12">
                    <span class="t1">
                        Currently, there is no MessageBird app installed on your personal SEOshop webshop. This can be resolved by visiting your SEOshop webshop and installing the MessageBird app.
                    </span>
                    <br>
                    <span class="t1">
                        Alternatively, you can manually adjust the following link to install the MessageBird app. Replace the part in brackets, [], with your own SEOshop customer number.
                        <br>
                        <br>
                        <small>
                            <a href="https://api.webshopapp.com/{{ language }}/apps/install?api_key={{ api_key }}&shop_id=[]">
                                https://api.webshopapp.com/{{ language }}/apps/install?api_key={{ api_key }}&shop_id=<strong>[]</strong>
                            </a>
                        </small>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
