body {
    background: #F6F9FE;
    font: 18px/1.5 sans-serif;
    font-family: "Times New Roman", Georgia, Serif;
}
@font-face {
    font-family: ProximaNova-Light;
    src: url(/bundles/app/fonts/ProximaNova-Light.ttf);
}
@font-face {
    font-family: ProximaNova-Regular;
    src: url(/bundles/app/fonts/ProximaNova-Regular.ttf);
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url(/bundles/app/fonts/ProximaNova-Semibold.ttf);
}
@font-face {
    font-family: ProximaNovaCond-Light;
    src: url(/bundles/app/fonts/ProximaNovaCond-Light.ttf);
}
@font-face {
    font-family: ProximaNovaCond-Regular;
    src: url(/bundles/app/fonts/ProximaNovaCond-Regular.ttf);
}
@font-face {
    font-family: ProximaNovaCond-Semibold;
    src: url(/bundles/app/fonts/ProximaNovaCond-Semibold.ttf);
}
a:hover {
    text-decoration: none;
}
code {
    background: #F5F5F5;
    max-width: 100px;
    padding: 2px 6px;
    word-wrap: break-word;
}
#wrapper {
    background: #FFF;
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
}
#container {
    padding: 2em;
}
#welcome, #status {
    margin-bottom: 2em;
}
#welcome h1 span {
    display: block;
    font-size: 75%;
}
#icon-status, #icon-book {
    float: left;
    height: 64px;
    margin-right: 1em;
    margin-top: -4px;
    width: 64px;
}
#icon-book {
    display: none;
}
.loading {
    display:none;
    margin-left:15px;
}
.loading img {
    width:30px;
}
.done {
    display: none;
    margin-left: 15px;;
}
.submit-w-loader div {
    float:left;
}
/*.hidden {
    display:none;
}*/

/* Navbar */
.navbar {
  height: 60px;
  background-color: #2481D7!important;
  width: 100%;
  max-width: none !important;
  border: none!important;
  border-radius: 0!important;
}
.navbar-brand {
  background-image: url(/bundles/app/img/MB_logo.png);
  width: 32px;
  height: 27px;
  margin-top: 15px;
  background-size: cover;
  margin-left: 0px!important;
  padding: 0px;
}
.navbar-brand:after {
  content: '';
  width: 0;
  height: 25px;
  position: absolute;
  top: 0;
  margin-left: 45px;
  top: 15px;
  border-right: thin solid #fff;
}
.navbar-right li{
  color: #fff!important;
  font-size: 16px;
  margin-top: 5px;
  left: 15px;
  padding: 15px;
  font-family: ProximaNova-Semibold;
}
.navbar-collapse {
  width: 1050px;
}
.seoshop {
  position: absolute;
  margin-left: 60px;
  margin-top: 17px;
  color: #fff;
  font-weight: 300;
  font-family: ProximaNova-Light;
  font-size: 16px;
}
.container {
  width: 1050px!important;
}

/* Text */
h1 {
  font-size: 18px;
  color: #2C3644;
  font-family: ProximaNova-Semibold;
}
h2 {
  font-size: 14px;
  color: #9AA8BD;
  font-family: ProximaNovaCond-Regular;
}
.t1 {
  font-size: 16px;
  color: #4c5668!important;
  font-family: ProximaNova-Regular;
}
.t2 {
  font-size: 14px;
  color: #2c3644;
  font-family: ProximaNova-Regular;
}
.t3 {
  font-size: 14px;
  color: #4c5668;
  font-family: ProximaNovaCond-Regular;
}
.t4 {
  font-size: 14px;
  color: #4c5668;
  font-family: ProximaNova-Semibold;
}
.l1 {
  font-size: 16px;
  color: #2481D7;
  font-family: ProximaNova-Semibold;
}
.l2 {
  font-size: 14px;
  color: #2481D7;
  font-family: ProximaNova-Semibold;
}
.card t1 a {
  border-bottom: 2px solid #2481D7;
  color: #4c5668!important;
}
/* Buttons */
button {
    background-color: #2481D7!important;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    font-family: ProximaNova-Semibold!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    outline: none!important;
}
button:hover {
  background-color: #5594E1!important;
}
button:disabled {
  background-color: #c3cddd!important;
}
.b1 {
  width: 100px;
  height: 30px;
}
.b2 {
  width: 140px;
  height: 30px;
}
.b3 {
  width: 160px;
  height: 30px;
}

/*forms*/
input {
  height: 40px!important;
  border-radius: 2px!important;
  border: 1px solid #dee8f9!important;
  outline: none!important;
  width:100%;
  margin-bottom: 20px;
  padding-left: 20px;
  outline:none!important;
  font-family: ProximaNova-Regular;
}
input:focus {
  border: 1px solid #5594e1!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
}
textarea {
  resize: none!important;
}
textarea:focus {
  border: 1px solid #5594e1!important;
  outline:none;
  border-radius: 2px;
  -webkit-box-shadow
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
}
label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: #4c5668;
  margin-bottom: 7px!important;
}
#form_submit {
  width: 140px;
  height: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

/* Cards */
.card {
  background-color: #fff;
  border: 1px inside #ecf2fc;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 4px 0px #dee8f9;
  -moz-box-shadow:    0px 0px 4px 0px #dee8f9;
  box-shadow:         0px 0px 4px 0px #dee8f9;
}
#wrapper {
  border-top: 5px solid #5594E1;
  background-color: #fff;
}
#wrapper #container {
  padding: 60px!important;
}

/* Welkom */
.welcome #wrapper {
  width: 620px;
  height: 330px;
}
.welcome #wrapper #container {
  text-align: center;
}
.welcome .card {
  margin-top: 155px!important;
}
.welcome h1 {
  margin-top: 0px;
  margin-bottom: 47px;
}
.welcome button {
  margin-top: 55px;
}
.welcome t1 {
  margin-top: 40px;
  display: block;
}
.welcome a {
  color: #4c5668!important;
  border-bottom: 2px solid #2481d7;
  text-decoration: none;
}
.welcome a:focus {
  text-decoration: none;
}

/*Auth*/
.auth #wrapper #container {
  padding: 50px 105px 0px 105px!important;
}
.auth h1 {
  text-align: center;
  margin-bottom: 30px;
}
.auth #wrapper {
  margin-top: 35px!important;
  min-height: 630px;
  width: 620px;
}
.auth #form_submit {
  margin-top: 8px;
  margin-bottom: 42px;
}
.auth input {
  width: 408px;
  font-size: 14px;
  color: #2c3644;
  font-family: ProximaNova-Regular;
}
.auth label {
  font-size: 14px;
  color: #4c5668;
  font-family: ProximaNovaCond-Regular;
}
.auth button {
  text-transform: capitalize;
}
.auth .alert-error-invalid-api-key {
  display: inline-block;
  padding: 0px;
  margin-bottom: 0px;
  border: none;
  color: #c7254e;
  float: right;
  margin-top: 5px;
}
.auth .error input {
  border: 1px solid #c7254e!important;
  radius: 2px;
}

/*Settings*/
.credits {
  width: 1050px;
  height: 100px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 4px 0px #dee8f9;
  -moz-box-shadow:    0px 0px 4px 0px #dee8f9;
  box-shadow:         0px 0px 4px 0px #dee8f9;
}
.credits .available {
  width: 350px;
  height: 100px;
  border-right: 1px solid #ecf2fc;
  display: inline-block;
  position: relative;
}
.credits .currency {
  width: 350px;
  display: inline-block;
  height: 100px;
  margin-left: -5px;
  border-right: 1px solid #ecf2fc;
  position: relative;
}
.credits .type {
  width: 350px;
  height: 100px;
  display: inline-block;
  margin-left: -5px;
  position: relative;
}
.credits .credits-card {
  left: 105px;
  top: 47px;
  position: absolute;
  background-size: cover;
}
.credits .available .credits-card {
  background-image: url(/bundles/app/img/credits_available@2x.png);
  width: 47px;
  height: 29px;
}
.credits .currency .credits-card {
  background-image: url(/bundles/app/img/credit_currency@2x.png);
  width: 46px;
  height: 30px;
}
.credits .type .credits-card {
  background-image: url(/bundles/app/img/credit_type@2x.png);
  width: 41px;
  height: 29px;
}
.credits h1 {
  position: absolute;
  font-size: 20px;
  top: 10px;
  color: #2C3644;
  font-family: ProximaNova-Regular!important;
  text-transform: capitalize;
}
.credits .available h1 {
  left: 163px;
}
.credits .currency h1 {
  left: 161px;
}
.credits .type h1 {
  left: 155px;
}
.credits h2 {
  position: absolute;
  top: 38px;
  color: #bbc4d2;
  text-transform: uppercase;
}
.credits .available h2 {
  left: 163px;
}
.credits .currency h2 {
  left: 161px;
}
.credits .type h2 {
  left: 155px;
}
#myMenu {
  padding-left: 0px;
}
.menu {
  width: 300px;
  height: 150px;
  background-color: #fff;
  margin-top: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px #dee8f9;
  -moz-box-shadow:    0px 0px 4px 0px #dee8f9;
  box-shadow:         0px 0px 4px 0px #dee8f9;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}
.menu ul {
  -webkit-padding-start: 0px;
}
.menu ul li {
  list-style-type: none;
  color: #2C3644;
  font-size: 16px;
  border-bottom-right-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
  padding: 0px!important;
  margin-bottom: 0px!important;
  border: none!important;
  text-decoration: none;
}
.menu .item,
.menu .itemTwo {
  height: 50px;
  border-bottom: 1px solid #ecf2fc!important;
}
.menu li {
  text-align: center;
  line-height: 3;
  radius: 2px;
  height: 50px;
  font-family: ProximaNova-Regular;
}
.menu .active {
  background-color: #ecf2fc;
  color: #2481D7;
  font-size: 16px;
  font-family: ProximaNova-Semibold;
}
.menu .active:hover {
  background-color: #ecf2fc;
  color: #2481D7;
  text-decoration: none!important;
}
.menu li:hover {
  color: #5594e1;
}
.menu li:focus {
  text-decoration: none!important;
}
.menu a {
    text-decoration: none!important;
}
.settings .orders {
  width: 729px;
  min-height: 468px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px #dee8f9;
  -moz-box-shadow:    0px 0px 4px 0px #dee8f9;
  box-shadow:         0px 0px 4px 0px #dee8f9;
}
.settings #wrapper {
  width: 300px;
  height: 410px;
  margin: inherit!important;
  margin-top: 20px;
}
.settings .orders .nav-tabs {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #ecf2fc;
}
.settings #wrapper #container {
  padding: 20px 28px 0 28px!important;
}
.settings #container h1 {
  padding-bottom: 5px;
  margin-top: 0px;
}
.settings #container h1,
.settings #container .t2 {
  text-align: center;
}
.settings #container ul {
  list-style-type: none;
}
.settings #container .t2 {
  color: #4c5668;
  padding-bottom: 20px;
}
.settings table .t2 {
  color: #000!important;
  padding-bottom: 0px!important;
  text-align: left!important;
  padding-left: 21px;
  padding-right: 0px;
}
.settings table .red {
  color: #d75453!important;
  font-size: 16px;
  background-color: rgba(215,84,83, 0.1);
  display: inline-table;
  margin-top: 7px;
  padding-left: 0px;
}
.settings table td {
  border: none!important;
}
.settings table tr {
  border-bottom: 1px solid #ecf2fc;
  height: 38px;
  padding-top: 15px;
}
.settings table tr:last-child {
  border: none;
}
.settings table tr span {
  display: block;
  color: #2c3644!important;
  font-size: 12px;
}
.settings .nav-tabs li {
  font-size: 14px;
  color: #2481d7;
  font-family: ProximaNova-Regular;
  margin-top: 8px;
  text-align: center;
  width: 19%;
}
.settings .nav-tabs .stock {
  width: 25%!important;
}
.settings .nav-tabs .payed {
  width: 18%!important;
}
.settings .nav-tabs li a {
  border: none;
  font-size: 14px;
  color: #000;
  font-family: ProximaNova-Regular;
}
.settings .nav-tabs li a:hover,
.settings .nav-tabs>li>a:focus,
.settings .nav-tabs>li>a:hover {
  border: none;
  background-color: #fff!important;
}
.settings .nav-tabs .active:after {
  border-bottom: 3px solid #2481d7;
  width: 40px;
  content:"";
  position: absolute;
  left: 35%;
}
.settings .nav-tabs .active a {
  color: #2481D7!important;
    font-family: ProximaNova-Semibold;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff!important;
}
.white-check {
  height: 10px;
  width: 12px;
  background-image: url(/bundles/app/img/icon_white_check@2x.png);
  background-size: cover;
  margin-left: 33px;
}
.tab-content {
  padding: 50px 100px 0px 100px;
}
.tab-content.orders {
  padding: 0px;
}
.form-group .checkbox label{
  font-size: 12px;
  font-family: ProximaNova-Semibold;
  padding-left: 0px;
  margin-left: 20px;
}
.settings .tab-pane p {
  display: inline-block;
  font-size: 12px;
  font-family: ProximaNova-Light;
  text-transform: uppercase;
}
.settings .form-group .checkbox label input[type='checkbox'] {
  display: none!important;
}
.settings .form-group .checkbox label span {
  display: inline-block;
  background-image: url(/bundles/app/img/input_empty@2x.png);
  height: 10px;
  width: 10px;
  background-size: cover;
  float: left;
  margin-top: 3px;
  margin-right: 8px;
}
.settings .form-group .checkbox label input:checked + span {
  display: inline-block;
  background-image: url(/bundles/app/img/input_fill@2x.png)!important;
  height: 10px;
  width: 10px;
  background-size: cover;
  float: left;
  margin-top: 3px;
  margin-right: 8px;
}
.settings .form-group .checkbox label input:checked + .settings .form-group .checkbox label {
  color: #5594e1!important;
}
.settings .tab-pane h1 {
  margin-bottom: 35px;
  margin-top: 6px;
}
.settings .tab-pane .form-group .control-label {
  display: none;
}
.settings .form-group textarea {
  height: 130px;
  width: 515px;
  padding-top: 16px;
  padding-left: 16px;
  font-family: ProximaNova-Regular;
}
.submit-w-loader .form-group {
  width: 100%;
}
.checked {
  color: #5594E1;
}
.checked span {
  background-image: url(/bundles/app/img/input_fill@2x.png)!important;
}
#seoshop_action_actionSubmit {
  width: 100px;
  height: 30px;
  background-color: #2481D7;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  font-family: ProximaNova-Regular;
  margin: 0 auto;
  display: block;
  margin-top: 12px;
  margin-bottom: 45px;
}
#seoshop_action_actionSubmit:hover {
  background-color: #5594E1;
}
#seoshop_action_actionSubmit:disabled {
  background-color: #c3cddd;
}
.settings hr {
  margin-top: 0px;
  margin-bottom: 60px;
  color: #dee8f9;
}
.settings textarea {
  border: 1px solid #dee8f9;
  font-size: 14px;
  font-family: ProximaNova-Regular;
}
.settings textarea:disabled {
  color: #9aa8bd;
}
.checkbox-blue {

}
#bulk {
  padding: 55px 100px 0 100px;
}
.form-group-date {
  width: 195px;
  display: inline-block;
  color: #4c5668;
}
.dateTo {
  float: right;
}
.settings #bulk .form-group textarea {
  width: 100%;
}
#bulk_message_submit {
  background-color: #fff!important;
  border: none!important;
  color: #2481d7!important;
  font-family: ProximaNova-Semibold;
  outline: none;
  margin: 0 auto;
  display: block;
}
#bulk_message_submit:active {
  outline: none;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
}
#bulk_message_submit:after {
  content: "";
  background-image: url(/bundles/app/img/icon_arrow_blue_filled_down@2x.png);
  height: 7px;
  width: 10px;
  display: inline-block;
  background-size: cover;
  margin-left: 10px;
  margin-bottom: 1px;
}
.settings .orders-header {
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: ProximaNova-Light;
  color: #4c5668;
}
.settings .orders-header th {
  border: none;
}
.settings #bulkholder .panel {
  border: none;
}
.settings #bulkholder tbody {
  border-bottom: 3px solid #dee8f9;
  font-family: ProximaNova-Light;
  font-size: 14px;
  min-height: 230px;
  min-width: 515px;
}
.settings #bulkholder tbody tr:first-child {
  border-top: 1px solid #ecf2fc;
}
.settings #bulkholder tbody tr {
  background-color: #fbfdff;
  border: 1px solid #fff;
  border-left: 1px solid #ecf2fc;
  border-right: 1px solid #ecf2fc;
}
.settings #bulkholder tbody th:first-child {
  font-family: ProximaNova-Semibold;
}
.settings #bulkholder tbody th {
  border: none!important;
}
.settings .card {
  border-radius: 0px;
}
#bulkholder .b3 {
  background-color: #2481D7!important;
}
#bulkConfirm {
  margin: 0 auto;
  display: block;
  border: none;
  font-family: ProximaNova-Regular;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 40px;
  border-radius: 2px;
}
#settings {
  padding: 55px 100px 0 100px!important;
}
#settings #messagebird_account_submit {
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  width: 100px;
  margin: 0 auto;
  display: block;
}
.settings .t3 {
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}
.settings #myTabContent .t3 {
  display: inline-block!important;
}
.lightbox {
  position: fixed;
  z-index: 9999;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246,249,254, 0.6);
  display: none;
}
.lightbox #wrapper {
  height: 330px;
  width: 620px;
  margin: 0 auto!important;
  position: fixed;
  top: 235px;
  left: 50%;
  margin-left: -310px!important;
}
.lightbox #wrapper h1 {
  margin-bottom: 25px;
}
.lightbox #wrapper h1,
.lightbox #wrapper span {
  text-align: center;
  display: block;
}
.lightbox #wrapper button {
  color: #fff;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  display: block;
  margin-top: 35px;
}
.checkmark {
  background-image: url(/bundles/app/img/icon_success_34x34@2x.png);
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-top: 55px;
}
.missingApp h1 {
  margin-top: -10px;
  margin-bottom: 30px;
}

.missingApp h1,
.missingApp .t1 {
  text-align: center!important;
  display: block;
}
/*@media (min-width: 768px) {
    #wrapper {
        width: 80%;
    }

    #icon-book {
        display: inline-block;
    }

    #status a, #next a {
        display: block;
    }

    @-webkit-keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .sf-toolbar {
        opacity: 0;
        -webkit-animation: fade-in 1s .2s forwards;
        animation: fade-in 1s .2s forwards;
    }
}*/
