{% extends 'SEOshopBundle::base.html.twig' %}

{% block body %}
    <h2>Installation successfull</h2>
    <p>Click <a href="https://seoshop.webshopapp.com/">here</a> to return to SEOshop.</p>
{% endblock %}